h1 {color: rgb(0, 80, 155); text-align: center;font-size: 60px;}
body {background-color: rgb(79, 190, 255); font-family: 'Arial', Times, serif;}
h2 {font-size: 40px;}
h3 {font-size: 40px;}
p{font-size: 25px;}
img {height: 300px;width: 450px; margin-left: 3px;}
h3 {margin-left: 1200px;}
